@import url("../assets/fonts/md-fonts.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: initial; }

::selection {
  background-color: #383a3f;
  color: #f68657; }

html {
  font-size: 62.5%; }

body {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #383a3f;
  line-height: 1.6;
  box-sizing: border-box;
  margin: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo", Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
    -webkit-transform: translateY(-10rem);
    -moz-transform: translateY(-10rem);
    -ms-transform: translateY(-10rem);
    -o-transform: translateY(-10rem); }
  80% {
    opacity: 1.8;
    transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

.md-anim-slideInDown {
  animation: slideInDown 1s;
  -webkit-animation: slideInDown 1s; }

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem); }
  80% {
    opacity: 1;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

.md-anim-slideInUp {
  animation: slideInUp 1s;
  -webkit-animation: slideInUp 1s; }

@keyframes smallSlideDownUp {
  0% {
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
    -moz-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    -o-transform: translateY(0.5rem); }
  50% {
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

.md-anim-smallSlideDownUp {
  animation: smallSlideDownUp 1s;
  -webkit-animation: smallSlideDownUp 1s; }

@keyframes smallSlideRightLeft {
  0% {
    transform: translateX(0.5rem);
    -webkit-transform: translateX(0.5rem);
    -moz-transform: translateX(0.5rem);
    -ms-transform: translateX(0.5rem);
    -o-transform: translateX(0.5rem); }
  50% {
    transform: translateX(-0.5rem);
    -webkit-transform: translateX(-0.5rem);
    -moz-transform: translateX(-0.5rem);
    -ms-transform: translateX(-0.5rem);
    -o-transform: translateX(-0.5rem); }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

.md-anim-smallSlideRightLeft {
  animation: smallSlideRightLeft 1s;
  -webkit-animation: smallSlideRightLeft 1s; }

.md-anim-infinity {
  animation-iteration-count: infinite; }

.md-anim-delay {
  animation-iteration-count: 1s; }

.md-anim-easeInOut {
  animation-timing-function: ease-in-out; }

.content-box {
  width: 88%;
  margin: 0 auto; }

section {
  margin-top: 16rem;
  margin-bottom: 16rem; }
  section .sec_iconimg {
    width: 4.8rem; }
  section .sec_iconimg path {
    fill: #f68657;
    fill-rule: evenodd; }
  section .section__box {
    text-align: center;
    margin: auto;
    padding-bottom: 3.2rem; }
    section .section__box--intro {
      text-transform: uppercase;
      color: #f68657;
      padding-bottom: 1.6rem; }
    section .section__box--icon {
      font-size: 3rem;
      padding-bottom: 1.6rem; }
    section .section__box--text {
      width: 70%;
      margin: auto; }

.md__btn {
  color: #fefefe;
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-weight: 500;
  outline: none;
  border-radius: 2.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(56, 58, 63, 0.1);
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  .md__btn:hover {
    opacity: 0.9;
    box-shadow: none;
    text-decoration: none;
    outline: none; }
  .md__btn--primary {
    background-color: #f68657; }
  .md__btn--secondary {
    background-color: #f6b352; }
  .md__btn--dark {
    background-color: #383a3f; }
  .md__btn--light-pri {
    background-color: #fefefe;
    color: #f68657; }
  .md__btn--light-sec {
    background-color: #fefefe;
    color: #f6b352; }
  .md__btn--light-dark {
    background-color: #fefefe;
    color: #383a3f; }
  .md__btn--primary-o {
    color: #f68657;
    border: 0.2rem solid #f68657;
    padding: 0.8rem 2.3rem; }
  .md__btn--secondary-o {
    color: #f6b352;
    border: 0.2rem solid #f6b352;
    padding: 0.8rem 2.3rem; }
  .md__btn--dark-o {
    color: #383a3f;
    border: 0.2rem solid #383a3f;
    padding: 0.7rem 2.3rem; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3.2rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3.2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3.2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3.2rem) / 3) + 3.2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3.2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3.2rem) / 4) + 3.2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3.2rem) / 4) + 2 * 3.2rem); }

.nav__menu-bar {
  position: absolute;
  top: 5rem;
  right: 10rem; }
  .nav__menu-bar a:first-of-type {
    margin-right: 1.6rem; }
  .nav__menu-bar--icon {
    position: fixed;
    top: 3rem;
    right: 2rem;
    color: #f68657;
    font-size: 2.4rem;
    text-align: center;
    padding: 1rem;
    width: 4rem;
    box-shadow: rgba(56, 58, 63, 0.16) 0 0.2rem 1rem 0;
    background: #fefefe;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%; }

.hero {
  height: 100vh;
  margin: auto;
  background-image: linear-gradient(to right bottom, #f68657, #f6b352); }
  .hero__site-logo img {
    width: 7.2rem;
    margin-left: 1rem; }
  .hero__img img {
    width: 50%;
    position: absolute;
    right: -10rem;
    top: -12rem; }
  .hero__box {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 80%; }
    .hero__box--tagline {
      font-family: "Exo", Arial, Helvetica, sans-serif; }
    .hero__box--intro {
      padding: 2rem 0;
      font-size: 1.5rem;
      width: 60%; }
    .hero__box--c2a {
      padding-top: 1rem;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
      .hero__box--c2a a {
        margin-right: 1rem; }
        .hero__box--c2a a:last-of-type {
          margin-right: 0; }

.story {
  text-align: justify; }
  .story__box {
    padding: 3.2rem 6.4rem;
    background-color: #f6f6f6;
    border: 0.3rem solid #f1f1f1;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem; }
    .story__box--intro h2 {
      color: #f68657; }
    .story__box--intro i {
      color: #383a3f;
      font-size: 4rem; }
    .story__box--intro span {
      display: block; }
    .story__box--text {
      line-height: 2; }

.services__box {
  margin-top: 5rem;
  background-image: linear-gradient(to right bottom, rgba(246, 134, 87, 0.95), rgba(246, 179, 82, 0.95)), url("../assets/img/hero.png");
  padding: 6.4rem 1.6rem; }
  .services__box--content {
    background: rgba(254, 254, 254, 0.8);
    padding: 2rem 3.2rem;
    height: 35rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(56, 58, 63, 0.25);
    text-align: center;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  .services__box--content:hover {
    cursor: default;
    transform: translateY(-1rem) scale(1.05);
    -webkit-transform: translateY(-1rem) scale(1.05);
    -moz-transform: translateY(-1rem) scale(1.05);
    -ms-transform: translateY(-1rem) scale(1.05);
    -o-transform: translateY(-1rem) scale(1.05); }
  .services__box--icon {
    width: 2rem;
    padding-bottom: 1.6rem; }
  .services__box--intro {
    font-size: 2rem;
    color: #f68657;
    padding-bottom: 1.6rem; }
  .services__box--text {
    text-align: justify; }

.stack {
  text-align: justify; }
  .stack__box {
    margin-top: 5rem; }
    .stack__box--content {
      position: relative;
      padding: 2rem 3.2rem;
      height: 18rem;
      border: 0.3rem solid rgba(56, 58, 63, 0.3);
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
    .stack__box--content:hover {
      border-color: #f68657;
      cursor: default; }
      .stack__box--content:hover h2 {
        color: #f68657; }
    .stack__box--intro {
      display: inline-block;
      position: absolute;
      top: 3.6rem;
      left: 9rem; }
    .stack__box--icon {
      width: 5rem; }
