@font-face {
    font-family: 'Exo';
    src: url('exo-bold.eot');
    src: url('exo-bold.eot?#iefix') format('embedded-opentype'),
         url('exo-bold.woff') format('woff'),
         url('exo-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu-bold.eot');
    src: url('ubuntu-bold.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-bold.woff') format('woff'),
         url('ubuntu-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu-italic.eot');
    src: url('ubuntu-italic.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-italic.woff') format('woff'),
         url('ubuntu-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu-regular.eot');
    src: url('ubuntu-regular.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-regular.woff') format('woff'),
         url('ubuntu-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}