.hero {
  height: 100vh;
  margin: auto;
  background-image: linear-gradient(
    to right bottom,
    $primary-color,
    $secondary-color
  );

  &__site-logo img {
    width: 7.2rem;
    margin-left: 1rem;
  }

  &__img img {
    width: 50%;
    position: absolute;
    right: -10rem;
    top: -12rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__box {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 80%;

    @include respond(tab-port) {
      text-align: center;
    }

    &--tagline {
      font-family: $heading-fonts;

      @include respond(tab-port) {
        font-size: 3.1rem;
      }
    }

    &--intro {
      padding: 2rem 0;
      font-size: 1.5rem;
      width: 60%;

      @include respond(tab-port) {
        margin: 0 auto;
      }

      @include respond(phone) {
        width: 80%;
      }
    }

    &--c2a {
      padding-top: 1rem;

      & a {
        margin-right: 1rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.story {
  text-align: justify;

  @include respond(tab-port) {
    text-align: center;
  }

  &__box {
    padding: 3.2rem 6.4rem;
    background-color: darken($light-color, 3%);
    border: 0.3rem solid darken($light-color, 5%);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;

    @include respond(phone) {
      padding: 3.2rem 5.6rem;
    }

    &--intro {
      h2 {
        color: $primary-color;
      }

      i {
        color: $dark-color;
        font-size: 4rem;
      }

      span {
        display: block;
      }
    }

    &--text {
      line-height: 2;

      @include respond(tab-port) {
        font-size: 1.6rem;
      }

      @include respond(phone) {
        text-align: justify;
      }
    }
  }
}

.services {
  &__box {
    margin-top: 5rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-color, 0.95),
        rgba($secondary-color, 0.95)
      ),
      url("../assets/img/services.jpg");
    padding: 10rem 1.6rem;
    background-position: center;
    background-size: contain;

    @include respond(phone) {
      padding: 7rem 1.6rem;
    }

    &--content {
      background: rgba($light-color, 0.8);
      padding: 5rem 2.8rem;
      height: 40rem;
      box-shadow: 0.1rem 0.1rem 0.5rem rgba($dark-color, 0.25);
      text-align: center;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;

      @include respond(tab-port) {
        height: 25rem;
      }

      @include respond(phone) {
        height: 32rem;
      }

      @include respond(ext-small) {
        height: 35rem;
      }
    }

    &--content:hover {
      cursor: default;
      transform: translateY(-1rem) scale(1.05);
      -webkit-transform: translateY(-1rem) scale(1.05);
      -moz-transform: translateY(-1rem) scale(1.05);
      -ms-transform: translateY(-1rem) scale(1.05);
      -o-transform: translateY(-1rem) scale(1.05);
    }

    &--iconimg {
      width: 5.6rem;
      padding-bottom: 1rem;
    }

    &--intro {
      font-size: 2rem;
      color: $primary-color;
      padding-bottom: 1rem;
    }

    &--text {
      text-align: justify;

      @include respond(tab-port) {
        text-align: center;
        font-size: 1.6rem;
      }

      @include respond(phone) {
        text-align: justify;
        font-size: 1.6rem;
      }
    }
  }
}

.stack {
  text-align: justify;

  &__box {
    margin-top: 5rem;

    &--content {
      position: relative;
      padding: 2rem 3.2rem;
      height: 24rem;
      border: 0.3rem solid rgba($dark-color, 0.3);
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;

      @include respond(tab-port) {
        height: 16rem;
      }

      @include respond(phone) {
        height: 18rem;
      }
    }

    &--content:hover {
      border-color: $primary-color;
      cursor: default;
    }

    &--intro {
      display: inline-block;
      position: absolute;
      top: 3.6rem;
      left: 10rem;
      color: $primary-color;
    }

    &--icon {
      width: 5rem;
    }
  }
}

// MarketPlace
.section-market-place {
  background-color: $light-color-1;
  padding: 5rem 0;

  @include respond(phone) {
    padding: 2.5rem 0;
  }

  .marketplace {
    display: flex;
    justify-content: space-around;
    max-width: 72rem;
    margin: 4rem auto;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      margin: 3rem auto;
    }

    a {
      display: block;
      height: 10rem;
    }

    &__box {
      width: 30rem;
      height: 10rem;
      border-radius: 1rem;
      background-color: $light-color;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: 2px solid darken($light-color, 10%);
      transition: border 0.3s ease-in-out;

      &:not(:last-child) {
        margin-bottom: 0;

        @include respond(phone) {
          margin-bottom: 2rem;
        }
      }

      &:hover {
        border: 2px solid $primary-color;
      }
    }
  }
}

// Testimonials
.section-testimonials {
  background-color: $secondary-color;
  padding: 5rem 0;

  & .section__box .section__box--intro {
    color: #ffffff;
    font-size: 3rem;
  }

  .flickity-prev-next-button {
    top: 45%;
    height: 6rem;
    width: 6rem;
  }

  .flickity-button-icon {
    fill: $secondary-color;
  }
}

// Why-us [ credentials ]

// portfolio
.section-portfolio {
  .flickity-prev-next-button {
    height: 6rem;
    width: 6rem;
    border: 2px solid $dark-color-1;
  }

  .flickity-button-icon {
    fill: $secondary-color;
  }
}
