.md__btn {
  color: $light-color;
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-weight: 500;
  border: 0.2rem solid rgba($dark-color, 0.05);
  outline: none;
  border-radius: 2.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba($dark-color, 0.2);
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;


  &:hover {
    opacity: 0.9;
    box-shadow: none;
    text-decoration: none;
    outline: none;
  }

  

  &--primary {
    background-color: $primary-color;
  }

  &--secondary {
    background-color: $secondary-color;
  }

  &--dark {
    background-color: $dark-color;
    border: 0.2rem solid rgba($light-color, 0.08);
  }

  &--light-pri {
    background-color: $light-color;
    color: $primary-color;
  }

  &--light-sec {
    background-color: $light-color;
    color: $secondary-color;
  }

  &--light-dark{
    background-color: $light-color;
    color: $dark-color;
  }

  &--primary-o {
    color: $primary-color;
    border: 0.2rem solid $primary-color;
    padding: 0.8rem 2.3rem;
  }

  &--secondary-o {
    color: $secondary-color;
    border: 0.2rem solid $secondary-color;
    padding: 0.8rem 2.3rem;
  }

  &--dark-o {
    color: $dark-color;
    border: 0.2rem solid $dark-color;
    padding: 0.7rem 2.3rem;
  }
}