.credential {
  padding: 5rem;

  &__list {
    display: flex;
    justify-content: space-around;

    &:last-child {
      padding-top: 3rem;
    }
  }

  &__item {
    border-radius: 5px;
    transition: all 0.2s;

    flex: 0 0 30%;
    display: flex;
    align-items: flex-end;

    &:hover {
      border: 2px solid $primary-color;
    }
  }

  &__elem {
    padding: 1rem 2rem;
    flex: 0 1 30%;

    &--number {
      font-family: $heading-fonts;
      font-size: 4rem;
      padding-bottom: 2rem;
      color: $primary-color;
    }

    &--icon {
      height: 10rem;
      width: 10rem;
      fill: $primary-color;
    }
  }

  &__text {
    flex: 1;
    padding-bottom: 3.2rem;
  }
}
