.credential {
  max-width: 130rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;

  @include respond(tab-port) {
    padding-top: 1rem;
  }

  @include respond(phone) {
    padding-top: 0;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__item {
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    flex: 0 0 30%;
    display: flex;
    align-items: flex-end;
    border: 2px solid darken($light-color, 15%);

    @include respond(tab-port) {
      margin-top: 3rem;
      flex: 0 0 45%;
    }

    @include respond(phone) {
      flex: 0 0 80%;
    }

    &:hover {
      border: 2px solid $primary-color;

      .credential__elem--number {
        color: $primary-color;
      }
    }

    &:nth-child(n + 4) {
      margin-top: 3rem;
    }
  }

  &__elem {
    padding: 1rem 2rem;
    flex: 0 1 30%;

    &--number {
      font-family: $heading-fonts;
      font-size: 4rem;
      padding-bottom: 2rem;
      color: darken($light-color, 15%);
    }

    &--icon {
      height: 10rem;
      width: 10rem;
      fill: $primary-color;
    }
  }

  &__text {
    flex: 1;
    padding-bottom: 3.2rem;
    padding-right: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    h3 {
      font-size: 2rem;
    }
    p {
      color: lighten($dark-color, 30%);
    }
  }
}
