*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

::selection {
  background-color: $dark-color;
  color: $primary-color;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $text-fonts;
  font-size: 1.3rem;
  color: $dark-color;
  line-height: 1.6;
  box-sizing: border-box;
  margin: 1rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: $heading-fonts;
  text-transform: uppercase;
}