.content-box {
  width: 88%;
  margin: 0 auto;
  
}

section {
  margin-top: 16rem;
  margin-bottom: 16rem;

  .sec_iconimg{
    width: 4.8rem;

  }

  .sec_iconimg path{
    fill: $primary-color;
    fill-rule: evenodd;
  }

  & .section__box {
    text-align: center;
    margin: auto;
    padding-bottom: 3.2rem;

    &--intro {
      text-transform: uppercase;
      color: $primary-color;
      padding-bottom: 1.6rem;
    }

    &--icon {
      font-size: 3rem;
      padding-bottom: 1.6rem;
    }

    &--text {
      width: 70%;
      margin: auto;
    }
  }
}