.content-box {
  width: 88%;
  margin: 0 auto;
}

#card-special {
  border: 2px solid $primary-color !important;
}

section {
  margin-top: 16rem;
  margin-bottom: 16rem;

  @include respond(tab-port) {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }

  .sec_iconimg {
    width: 4.8rem;
  }

  .sec_iconimg path {
    fill: $primary-color;
    fill-rule: evenodd;
  }

  & .section__box {
    text-align: center;
    margin: auto;
    padding-bottom: 3.2rem;

    &--intro {
      text-transform: uppercase;
      color: $primary-color;
      padding-bottom: 1.6rem;
      max-width: 70rem;
      margin: auto;

      @include respond(phone) {
        width: 40rem;
      }
    }

    &--icon {
      font-size: 3rem;
      padding-bottom: 1.6rem;
    }

    &--text {
      max-width: 70rem;
      margin: auto;

      @include respond(phone) {
        width: 40rem;
        text-align: justify;
      }
    }
  }
}
