$primary-color: #f68657;
$seconadry-color: #f6b352;
$dark-color: #383a3f;
$light-color: #fefefe;


$heading-fonts: 'Exo', Arial, Helvetica, sans-serif;
$text-fonts: 'Ubuntu', Arial, Helvetica, sans-serif;

$grid-width: 114rem;
$gutter-ver: 3.2rem;
$gutter-hor: 3.2rem;

// Have a project on mind? Don't know where to start. Our agent will get back to you Our agent will get back to you asap..