$primary-color: #f68657;
$secondary-color: #f6b352;
$dark-color: #383a3f;
$dark-color-1: #999;
$light-color: #fefefe;
$light-color-1: #faf9f9;

$heading-fonts: "Exo", Arial, Helvetica, sans-serif;
$text-fonts: "Gotham", Arial, Helvetica, sans-serif;

$grid-width: 120rem;
$gutter-vertical: 3.2rem;
$gutter-horizontal: 3.2rem;

// Have a project on mind? Don't know where to start. Our agent will get back to you Our agent will get back to you asap..
